.portfolio {
    padding: 110px 120px;
    background-color: #FFFFFF;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #000000;
}

.portfolio__title {
    margin: 10px 0 0 0;
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color: #A0A0A0;
}

.portfolio__list {
    list-style: none;
    padding: 0;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px #E6E6E6 solid;
    align-items: center;
    text-align: center;
}

.portfolio__link {
    padding: 0;
    text-decoration: none;
    color: #000000;
}