.page {
    height: 100%;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: Inter, Arial, sans-serif;
    padding: 0;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
}