.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding: 18px 0 18px 0;
    background-color: #073042;
}

.header__logo {
    width: 38px;
    height: 38px;
    transition: opacity 0.3s ease-in-out;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}