.footer {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.footer__info {
    margin-bottom: 41px;
    border-bottom: 1px solid #E8E8E8;
}

.footer__title {
    margin-top: 0;
    color: #A0A0A0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin-bottom: 20px;
}

.footer__year {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link {
    list-style: none;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-size: 13px;
    line-height: 15.73px;
}

@media screen and (max-width: 768px) {
    .footer {
      max-width: 708px;  
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 300px;  
    }

    .footer__main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer__link {
        margin-left: 0;
    }

    .footer__info {
        margin-bottom: 0;
    }

    .footer__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0 30px 0;
    }

    .footer__year {
        margin-bottom: 10px;
    }
}