.login {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login__title {
	margin: 40px 0 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.login__link {
	width: 100%;
	max-width: 396px;
}

.login__link:hover {
	cursor: pointer;
}

.login__input {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
	border: 0;
    background-color: #202020;
    padding: 15px 0 15px 15px;
    width: 100%;
	max-width: 396px;
    border-bottom: 1px solid #424242;
}

.login__form {
    width: 100%;
	max-width: 396px;
}

.login__button {
    width: 100%;
    height: 45px;
    background-color: #4285F4;
    margin-top: 130px;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    border-radius: 3px;
    padding: 0;
}

.login__button:hover {
    transition: opacity 0.3s ease;
	cursor: pointer;
}

.login__button_disabled {
    width: 100%;
    border-radius: 3px;
    height: 45px;
    background-color: rgba(43, 224, 128, 1);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
  }

  .login__button_disabled:hover {
    transition: opacity 0.3s ease;
    cursor: no-drop;
  }

.login__redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login__redirect-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.login__redirect-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
    margin-left: 6px;
    color: #4285F4;
}

.login__error-message {
    color: red;
    height: 50px;
    margin: 0;
    text-align: center;
    opacity: 0;
  }
  
  .login__error-message_active {
    color: red;
    opacity: 1;
  }

@media screen and (max-width: 320px) {
    .login {
        max-width: 260px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .login__button {
        font-size: 12px;
        line-height: 14px;
    }

    .login__form {
        max-width: 260px;
    }

    .login__input {
        max-width: 260px;
    }

    .login__redirect-text {
        font-size: 12px;
        line-height: 14px;
    }
    
    .login__redirect-link {
        font-size: 12px;
        line-height: 14px;
    }
}