.navtab {
    display: flex;
    justify-content: center;
    background-color: #000000;
    min-width: 270px;
}

.navtab__list {
    display: flex;
    padding: 0;
    margin: 24px 0;
    list-style: none;
}

.navtab__link {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: underline;
    transition: opacity 0.3s ease-in-out;
}

.navtab__text:not(:last-child) {
    margin-right: 40px;
}

.navtab__link:hover {
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .navtab__link {
        font-size: 11px;
    }

    .navtab__text:not(:last-child) {
        margin-right: 24px;
    }
}